$twitter-color: #1D9BF0;

.twitter-color {
  color: $twitter-color;
}

.brand-color {
  color: #618DF3;
  &:hover {
    color: #2d4477;
  }
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  text-align: center;

  main {
    h1 {
      font-size: 41px;
      font-weight: 700;
      margin-bottom: 0;
    }
    p {
      &:nth-child(3) {
        margin-top: 0;
        font-weight: 200;
        font-size: 14px;
        a {
          text-decoration: none;
          color: #000;
        }
      }
      &:first-of-type {
        margin: 1px 0 0 0;
        font-size: 21px;
      }
    }
    padding-bottom: 2.5rem;
  }
}



.Connect-Button {
  background-color: #FCFCFC;
  border-radius: 5px;
  border: none;
  color: #595959;
  padding: 1rem;
  width: 365px;
  font-weight: 400;
  font-size: 13px;
  height: 47px;
  box-shadow: 0 0 0 1px #D9D9D9 inset;
  &:hover {
    background-color: #f8f8f8;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
